@model projetoMvc.Models.Produto

<h2>Página Produtos</h2>
<br>
<h4>Detalhes Produtos</h4>

<table bolder=" 2px solid black">
    <tr>
        <td>Nome</td>
        <td>Preço</td>
        <td>Descrisão</td>
        <td>Propritário</td>
        <td>Lançamento</td>
    </tr>
    <tr>
        <th><p>@Model.Nome</p></th>
        <th><p>@Model.Valor</p></th>
        <th><p>@Model.Desc</p></th>
        <th><p>@Model.Proprietario</p></th>
        <th><p>@Model.DataLancamento</p></th>
    </tr>
</table>


